* {
    font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(/images/light1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 40px;
  margin: auto;
}

a {
    text-decoration: none;
    color:antiquewhite;
    font-size:3rem;
    font-weight:600;
    transform: scale(1);
}

button {
    padding:0;
    margin:0;
    cursor:pointer;
}

a:hover {
    transition:all .5s ease-out;
    transform:scale(1.25);
    text-shadow: 0 0 50px rgba(250, 193, 149, 0.9);
}

.main-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:400px;
    width:400px;
    gap:2rem;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

.partner-container {
    display:flex;
    justify-content: center;
    gap:1rem;
}

.juniorLink {
    color:antiquewhite;
    
}

.runwayLink {
    color:antiquewhite;
}

#linkContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

#deleteButton {
    margin-top:10px;
    height:30px;
    width:40px;
    border:1px solid antiquewhite;
    background-color: transparent;
    color:antiquewhite;
    border-radius:5px;

    &:hover {
        background-color: rgba(218, 199, 162, 0.416);
    }
}

input {
    width:200px;
    height:30px;
    border-radius:5px;
    border:1px solid antiquewhite;
    text-align: center;
    background-color: transparent;
    color: antiquewhite;
    background-color: rgba(32, 27, 23, 0.355); 
    color: white; 
}

.partner-container{
    color:antiquewhite
}
    

.partner-button {
    background:rgb(17, 184, 17);
    color: antiquewhite;
    background: transparent;
    border:1px solid antiquewhite;
    padding:0 1rem;
    border-radius:5px;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: rgb(223, 106, 4);
        transition: 1s;
        
    }
}

